body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #064e3b, #34d399);
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}


/* HEADER */
header {
    background: linear-gradient(to right, #064e3b, #34d399);
    padding: 30px 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}

/* SECTIONS */
section {
    background-color: rgba(0, 0, 0, 0.25);
    margin: 20px;
    border-radius: 15px;
    padding: 30px 20px;
}


h2 {
    color:black;
    margin-bottom: 15px;  
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #1e293b;
    margin: 8px auto;
    padding: 10px;
    width: 60%;
    border-radius: 8px;
    font-size: 20px;
}

/* SKILLS */
.skills li {
    display: inline-block;
    width: auto;
    padding: 10px 15px;
}

/* LINKS */
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #020617;
    padding: 15px;
    font-size: 14px;
}
